.Details {
  margin: 1rem;
}
.dsub {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (min-width: 1025px) {
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (max-width: 480px) {
}
