@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-ads {
  height: 82vh;
  background-color: rgba(105, 120, 253, 0.705);
  display: flex;
  flex-direction: row;
}

.ads-left {
  width: 30rem;
}

.ads-left img {
  height: 80vh;
  margin-top: 1rem;
  margin-right: 3rem;
}
.ads-right {
  margin-left: 30rem;
  margin-top: 20rem;
}
.ads-right h2 {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  width: 30rem;
}
.ads-right p {
  font-family: "Pacifico", cursive;
  font-size: 25px;
}

.ads-right button {
  margin-left: 0px;
}
.ads-right button:hover {
  background-color: aqua;
  color: black;
}
@media (min-width: 1025px) {
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (max-width: 480px) {
}
