.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.popular hr {
  width: 21rem;
  height: 7px;
  background-color: black;
  border-radius: 10px;
}

.popular-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem;
  margin-right: 3px;
}
@media (min-width: 1025px) {
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (max-width: 480px) {
}
